# ========== SERVIDOR ==========
PORT=3000
NODE_ENV=development  # production | development

# ========== BASE DE DATOS (MySQL) ==========
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=BossBudget

# ========== JWT (JSON Web Token) ==========
JWT_SECRET=s3Crwt0
JWT_EXPIRES_IN=1h

# ========== OPCIONAL PERO COMÚN ==========
# Para frontend (vistas)
API_URL=https://super-duper-umbrella-x5j66x945vp2vg9g-3000.app.github.dev/

# CORS (si tu frontend está en otro puerto)
FRONTEND_URL=http://localhost:5173  # o el puerto de tus vistas

# Para emails
EMAIL_USER=bossbudgetproyect@gmail.comd
EMAIL_PASS=vuim wbtl pjpr bcyz
