# ========== SERVIDOR ==========
PORT=3000
NODE_ENV=production  # production | development

# ========== BASE DE DATOS (MySQL) ==========
DB_HOST=https://bossbudgetapi-production-539b.up.railway.app
DB_PORT=3306
DB_USER=root
DB_PASSWORD=lMDxrJXVdeSvctbzxyaNAiCZQqtkeKbi
DB_NAME=railway

# ========== BASE DE DATOS (MySQL) ==========
MYSQL_HOST=yamanote.proxy.rlwy.net
MYSQL_PORT=21651
MYSQL_USER=root
MYSQL_PASSWORD=lMDxrJXVdeSvctbzxyaNAiCZQqtkeKbi
MYSQL_DATABASE=railway

# .env o Railway variables
BREVO_API_KEY=clave_aqui
EMAIL_FROM=bossbudgetproyect@gmail.com  # Puede ser cualquier email, no requiere dominio
FRONTEND_URL=http://localhost:5173

# ========== JWT (JSON Web Token) ==========
JWT_SECRET=s3Crwt0
JWT_EXPIRES_IN=1h

# ========== OPCIONAL PERO COMÚN ==========
# Para frontend (vistas)
API_URL=https://super-duper-umbrella-x5j66x945vp2vg9g-3000.app.github.dev/

# CORS (si tu frontend está en otro puerto)
FRONTEND_URL=http://localhost:5173 

# Para emails - YA NO FUNCIONA NODEMAILER PORQUE RAILWAY LO BLOQUEA SI NO ES CUENTA DE PAGO
#EMAIL_USER=bossbudgetproyect@gmail.com
#EMAIL_PASS=vuimwbtlpjprbcyz #PRUEBA njwr vlgt sthx osiv
